# Große Datenordner (Deine Punktwolken & Ergebnisse)
data/
exp/

# Kompilierte Binärdateien (egal wie tief sie liegen)
**/*.so
**/*.o
**/*.pyc
**/.ninja_*
**/build/
**/dist/
**/*.egg-info/

# Modell-Gewichte
*.pth
*.ckpt

# Python & Jupyter
__pycache__/
.ipynb_checkpoints/

# System & IDE
.DS_Store
.vscode/
.idea/
*.log
